

<div class="formtastic-form">
<%= semantic_form_for @assignment do |f| %>
  <%= f.semantic_errors %>  
  <%= f.input :user_id, :as => :select, :collection => User.all %>
  <%= f.input :class_name %>
  <%= f.input :homework %>
  <%= f.input :due_date %>
  <%= f.input :completed %>
  <%= f.action :submit %>

<% end %>
</div>
