

<div class="formtastic-form">
<%= semantic_form_for @assignment do |f| %>
  <%= f.semantic_errors %>  
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :class_name, :input_html => {:id => "form-input" } %>
  <%= f.input :homework, :input_html => {:id => "form-input2" } %>
  <%= f.input :due_date, :input_html => {:id => "datepicker" } %>
  <!--%= f.hidden_field :completed, :input_html => { :value => "false" }  %-->
  <%= f.action :submit %>
<% end %>

</div>
