<h1 id="title">Assignments List</h1>
<br>
<h3><span class="glyphicon glyphicon-remove"></span> Incomplete Assignments</h3>
<table class="table table-hover">
 <thead>
 	<tr>
 		<td>Class</td>
 		<td>Assignment</td>
 		<td>Due Date</td>
 		<td>Completed?</td>
 		<td>Action</td>
 	</tr>
 </thead>
 <tbody>
 	<% @assignments_incomplete.each do |assig| %>
 	<% if assig.user == current_user %>
 	<tr>
 		<td><%= assig.class_name %></td>
 		<td><%= assig.homework %></td>
 		<td><%= assig.due_date %></td>
 		<td><%= link_to "Done!", "/assignments/complete?id=#{assig.id}", html_options = {:class => "btn btn-success"}%></td>
 		<td><!%= link_to "Edit", edit_assignment_path(assig.id) %> 
 		<%= link_to 'Edit', edit_assignment_path(assig.id),:class => 'btn btn-mini btn-warning'%>
 		<!%= link_to "Delete", assig, method: :delete %>
 		<%= link_to 'Delete', assignment_path(assig), :confirm => "Are you sure you want to delete this document?", :method => :delete, :class => 'btn btn-mini btn-danger'%></td>
 	</tr>
 	<% end %>
 	<% end %>
 </tbody>
</table>

<br>
<h3><span class="glyphicon glyphicon-ok"></span> Completed Assignments</h3>
<table class="table table-hover">
 <thead>
 	<tr>
 		<td>Class</td>
 		<td>Assignment</td>
 		<td>Due Date</td>
 		<td>Action</td>
 	</tr>
 </thead>
 <tbody>
 	<% @assignments_complete.each do |assig| %>
 	<% if assig.user == current_user %>
 	<tr>
 		<td><%= assig.class_name %></td>
 		<td><%= assig.homework %></td>
 		<td><%= assig.due_date %></td>
 		<td><!%= link_to "Edit", edit_assignment_path(assig.id) %> 
 		<%= link_to 'Edit', edit_assignment_path(assig.id),:class => 'btn btn-mini btn-warning'%>
 		<!%= link_to "Delete", assig, method: :delete %>
 		<%= link_to 'Delete', assignment_path(assig), :confirm => "Are you sure you want to delete this document?", :method => :delete, :class => 'btn btn-mini btn-danger'%></td>
 	</tr>
 	<% end %>
 	<% end %>
 </tbody>
</table>

<br/>
<%= link_to "New Assignment", new_assignment_path, html_options = {:class => "btn btn-info"} %>
