<h1 id="title">Assignments List</h1>
<br>
<h3>Incomplete Assignments</h3>
<table class="table table-hover">
 <thead>
 	<tr>
 		<td>Class</td>
 		<td>Assignment</td>
 		<td>Due Date</td>
 		<td>Completed</td>
 		<td>Action</td>
 	</tr>
 </thead>
 <tbody>
 	<% @assignments_incomplete.each do |assig| %>
 	<% if assig.user == current_user %>
 	<tr>
 		<td><%= assig.class_name %></td>
 		<td><%= link_to assig.homework, assignment_path(assig.id) %></td>
 		<td><%= assig.due_date %></td>
 		<td><%= assig.completed %></td>
 		<td><%= link_to "Edit", edit_assignment_path(assig.id) %> <%= link_to "Delete", assig, method: :delete %></td>
 	</tr>
 	<% end %>
 	<% end %>
 </tbody>
</table>

<br>
<h3>Completed Assignments</h3>
<table class="table table-hover">
 <thead>
 	<tr>
 		<td>Class</td>
 		<td>Assignment</td>
 		<td>Due Date</td>
 		<td>Completed</td>
 		<td>Action</td>
 	</tr>
 </thead>
 <tbody>
 	<% @assignments_complete.each do |assig| %>
 	<% if assig.user == current_user %>
 	<tr>
 		<td><%= assig.class_name %></td>
 		<td><%= link_to assig.homework, assignment_path(assig.id) %></td>
 		<td><%= assig.due_date %></td>
 		<td><%= assig.completed %></td>
 		<td><%= link_to "Edit", edit_assignment_path(assig.id) %> <%= link_to "Delete", assig, method: :delete %></td>
 	</tr>
 	<% end %>
 	<% end %>
 </tbody>
</table>

<br/>
<button type="button" class="btn btn-default"><%= link_to "New Assignment", new_assignment_path %></button>
