<h1>Assignments List</h1>

<table>
 	<tr>
 		<td>User</td>
 		<td>Class</td>
 		<td>Assignment</td>
 		<td>Due Date</td>
 		<td>Action</td>
 	</tr>
 	<% @assignments.each do |assig| %>
 	<tr>
 		<td><%= assig.user.name%></td>
 		<td><%= assig.class_name %></td>
 		<td><%= link_to assig.homework, assignment_path(assig.id) %></td>
 		<td><%= assig.due_date %></td>
 		<td><%= link_to "Edit", edit_assignment_path(assig.id) %> <%= link_to "Delete", assig, method: :delete %></td>

 	</tr>
 	<% end %>
</table>

<br/>
<%= link_to "New Assignment", new_assignment_path %>
<br/><br/>
<%= link_to "Home Page", "/" %>
