<h1>New Assignment</h1>

<%= form_for(@assignment) do |f| %>
    <div class="field">
        <p>User</p>
        <%= f.collection_select :user_id, User.all, :id, :name%>
    </div>
 	<div class="field">
    	<p>Class</p> 
    	<%= f.text_field :class_name %>
    </div>
    <div class="field">
    	<p>Assignment</p> 
     	<%= f.text_field :homework %>
    </div>
    <div class="field">
        <p>Due Date</p> 
        <%= f.text_field :due_date %>
    </div>
    <div class="actions">
      	<%= f.submit %>
    </div>
<% end %>
