<html>
<head> 
	<title>To-Do List</title> 
</head>


<h3> Personal Reminders </h3>
	<p><%= link_to "Users", users_path %> 
	<p><%= link_to "New User", new_user_path %>
	<p><%= link_to "Assignments", assignments_path %> 
	<p><%= link_to "New Assignment", new_assignment_path %>	
	<p><%= link_to "Events", events_path %> 
	<p><%= link_to "New Event", new_event_path %>		
	<br/><br/>
	<img src="http://25.media.tumblr.com/tumblr_lt4bdjf6EM1qbymhco1_500.gif"/>
	
</html>