<div class="error-msg">
  <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
</div>

<%= form_for(@user) do |f| %>
  <div class="field form-group">
        <p>Name</p> 
        <%= f.text_field :name%>
      </div>
      <div class="field form-group">
        <p>Email</p> 
        <%= f.text_field :email%>
      </div>
      <div class="field form-group">
        <p>Password</p> 
        <%= f.text_field :password%>
      </div>
        <div class="actions form-group">
          <%= f.submit :class => 'btn btn-primary'%>
      </div>
<% end %>