

<div class="formtastic-form">
<%= semantic_form_for @user do |f| %>

  <%= f.semantic_errors %>
  <%= f.inputs do %>  
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
  <% end %>

  <%= f.action :submit, :input_html => {:class => "btn-primary"} %>

<% end %>
</div>

