<div class="error-msg">
  <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
</div>

<div class="formtastic-form">
<%= semantic_form_for @user do |f| %>
  <%= f.input :name,:label => "Name" %>
  <%= f.input :email,:label => "Email" %>
  <%= f.input :password,:label => "Password" %>

  <%= f.action :submit %>

<% end %>
</div>

