<div class="error-msg">
  <% if @event.errors.any? %>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
</div>

<%= form_for(@event) do |f| %>
    <div class="field">
        <p>User</p>
        <%= f.collection_select :user_id, User.all, :id, :name%>
    </div>
 	<div class="field">
    	<p>Title</p> 
    	<%= f.text_field :title %>
    </div>
    <div class="field">
        <p>Date</p> 
        <%= f.text_field :date %>
    </div>
    <div class="actions">
      	<%= f.submit %>
    </div>
<% end %>