<h1>Events List</h1>

<br>
<h3>Meetings</h3>
<table class="table table-hover">
 <thead>
 	<tr>
 		<td>User</td>
 		<td>Title</td>
 		<td>Date</td>
 		<td>Action</td>
 	</tr>
 </thead>
 <tbody>
 	<% @events_meetings.each do |event| %>
 	<tr>
 		<td><%= event.user.name%></td>
 		<td><%= link_to event.title, event_path(event.id) %></td>
 		<td><%= event.date %></td>
 		<td><%= link_to "Edit", edit_event_path(event.id) %> <%= link_to "Delete", event, method: :delete %></td>

 	</tr>
 	<% end %>
 <tbody>
</table>

<br>
<h3>Others</h3>
<table class="table table-hover">
 <thead>
 	<tr>
 		<td>User</td>
 		<td>Title</td>
 		<td>Date</td>
 		<td>Action</td>
 	</tr>
 </thead>
 <tbody>
 	<% @events_others.each do |event| %>
 	<tr>
 		<td><%= event.user.name%></td>
 		<td><%= link_to event.title, event_path(event.id) %></td>
 		<td><%= event.date %></td>
 		<td><%= link_to "Edit", edit_event_path(event.id) %> <%= link_to "Delete", event, method: :delete %></td>

 	</tr>
 	<% end %>
 <tbody>
</table>

<br/>
<button type="button" class="btn btn-default"><%= link_to "New Event", new_event_path %></button>


