<!DOCTYPE html>
<html>
<head>
  <title>To-Do</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Personal Planner</a>
	</div>
	<ul class="nav navbar-nav">
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><%= link_to "new user", new_user_path %></li>
	<li><%= link_to "users", users_path %></li>
	</ul>
	</li>
	</ul>
	<ul class="nav navbar-nav">
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><%= link_to "New Assignment", new_assignment_path %></li>
	<li><%= link_to "Assignments", assignments_path %></li>
	</ul>
	</li>
	</ul>

	<ul class="nav navbar-nav">
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><%= link_to "New Event", new_event_path %></li>
	<li><%= link_to "Events", events_path %></li>
	</ul>
	</li>
	</ul>
	
</nav>

<%= yield %>

</body>
</html>
